server.port: 8443
server.ssl.key-store: {{ midpoint.standalone.keystore }}
server.ssl.key-store-password: {{ midpoint.standalone.keystore_password }}
server.ssl.keyStoreType: PKCS12
server.ssl.keyAlias: {{ midpoint.standalone.key_alias }}
server.ssl.trust-store: {{ midpoint.standalone.truststore }}
server.ssl.trust-store-type: JKS
